# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/

core/target/
core/core.iml

upms/upms.iml
upms/upms-api/target/
upms/upms-api/upms-api.iml
upms/upms-service/target/
upms/upms-service/upms-service.iml
upms/upms-spring-boot-starter/target/
upms/upms-spring-boot-starter/upms-spring-boot-starter.iml

usoa/usoa.iml

wechat/wechat.iml
wechat/wechat-api/target/
wechat/wechat-api/wechat-api.iml
wechat/wechat-service/target/
wechat/wechat-service/wechat-service.iml
wechat/wechat-spring-boot-starter/target/
wechat/wechat-spring-boot-starter/wechat-spring-boot-starter.iml
